.latest-works {
  margin: 0 auto;
  height: auto;
  max-width: 1920px;
}
.latest-works .latest-works__body {
  padding: 100px 0 200px 0;
}
.latest-works .latest-works__body .latest-works__title {
  font-family: "Lato";
  font-size: 34px;
  color: #3677FD;
  font-weight: 300;
  text-align: center;
}
.latest-works .latest-works__body .latest-works__content {
  display: flex;
  flex-direction: column;
}
.latest-works .latest-works__body .latest-works__content .content__row {
  display: flex;
  justify-content: center;
}
.latest-works .latest-works__body .latest-works__content .content__row a:hover {
  transition: 0.3s;
  transform: scale(1.15);
  box-shadow: 0 0 7px rgba(15, 15, 15, 0.2);
}
.latest-works .latest-works__body .latest-works__content .content__row .row__item-top, .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
  background-color: #F4F4F4;
  max-width: 360px;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 100px 15px 50px 15px;
}
.latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body .latest-works {
    height: auto;
    max-width: 1920px;
  }
  body .latest-works .latest-works__body {
    padding: 30px 0 80px 0;
  }
  body .latest-works .latest-works__body .latest-works__title {
    font-family: "Lato";
    font-size: 34px;
    color: #3677FD;
    font-weight: 300;
    text-align: center;
  }
  body .latest-works .latest-works__body .latest-works__content {
    display: flex;
    flex-direction: column;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row {
    display: flex;
    justify-content: center;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    background-color: #F4F4F4;
    max-width: 180px;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px 15px 25px 15px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_6, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_6 {
    width: 142px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_5, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_5 {
    width: 75px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0px;
  }
}
@media (max-width: 568px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body .latest-works {
    height: auto;
    max-width: 1920px;
  }
  body .latest-works .latest-works__body {
    padding: 30px 0 80px 0;
  }
  body .latest-works .latest-works__body .latest-works__title {
    font-family: "Lato";
    font-size: 34px;
    color: #3677FD;
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
  }
  body .latest-works .latest-works__body .latest-works__content {
    display: flex;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    background-color: #F4F4F4;
    max-width: 306px;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5px 5px 5px 5px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_6, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_6 {
    width: 242px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_5, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_5 {
    width: 128px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0px;
    margin: 5px 5px 5px 5px;
  }
}
@media (max-width: 350px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body .latest-works {
    height: auto;
    max-width: 1920px;
  }
  body .latest-works .latest-works__body {
    padding: 30px 0 80px 0;
  }
  body .latest-works .latest-works__body .latest-works__title {
    font-family: "Lato";
    font-size: 34px;
    color: #3677FD;
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
  }
  body .latest-works .latest-works__body .latest-works__content {
    display: flex;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    background-color: #F4F4F4;
    max-width: 180px;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5px 5px 5px 5px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_6, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_1, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_3, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_4, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_6 {
    width: 142px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-top .row__item_5, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_2, body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot .row__item_5 {
    width: 75px;
  }
  body .latest-works .latest-works__body .latest-works__content .content__row .row__item-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0px;
    margin: 5px 5px 5px 5px;
  }
}

/*# sourceMappingURL=latest-works.css.map */
