.fixed-menu {
	position: fixed;
	top: 100px;
	right: 100px;
	z-index: 9999;


	&__burger {
	}

	&__line {
		width: 42px;
		height: 4px;
		background-color: white;
		padding: 3px;
		box-sizing: border-box;
		border-radius: 4px;
	}
}