.welcome{
    &__popup-form {
        display:            none;
        position:           fixed;
        width:              820px;
        height:             auto;
        margin:             auto;
        border:             1px solid #fff;
        background-color:   #fff;
        border-radius:      10px;
        padding:            25px 145px;
        box-sizing:         border-box;
        z-index:            9;
		font-family:        "Lato";
        top:                85px;
    }

    &__popup-close {
        position:           relative;
        margin-left:        100%;
        font-family:        "Lato";
        border:             none;
        background-color:   #fff;
        cursor:             pointer;
        font-size:          35px;
        color:              rgb(60, 136, 254);
    }

    &__popup-substrate {
        display:none;
        position:           fixed;
        background-color: rgba(76, 76, 76, .7);
        width: 				100vw;
        height: 			100vh;
        top: 				0;
        left: 				0;
    }
}

.form {
    display:            flex;
    flex-direction:     column;
    align-items:        center;

    &__header {
        width:          100%;
        text-align:     center;
        font-size:      40px;
        font-weight:    400;
        letter-spacing: 5px;
        color:          rgb(54, 119, 253);
        margin:         60px 0;
    }

    & input:not(.form__usermsg) {
        border:         1px solid rgb(183, 192, 201);
        border-radius:  10px;
        height:         45px;
        width:          100%;
        margin:         15px 0;
        outline:        none;
		padding-left: 	23px;
    }

	& input:focus {
		border-color: rgb(54, 119, 253);
	}

    &__usermsg {
        border:         1px solid rgb(183, 192, 201);
        border-radius:  10px;
        height:         180px;
        width:          100%;
        margin:         15px 0;
        outline:        none;
		padding-left: 	23px;
        padding-top:    15px;
        resize:         none;
        text-align:     justify;
    }

    &__submit {
        margin:         	45px;
        width:          	205px;
        height:         	55px;
        border-radius:  	25px;
        background-color: rgb(53, 110, 253);
        border: 			none;
        color: 				#fff;
        text-transform: 	uppercase;
        font-size: 			15px;
        font-weight: 		600;
        background:         rgb(54,149,255);
        background:         linear-gradient(90deg, rgba(54,149,255,1) 35%, rgba(53,109,253,1) 90%);
        cursor:             pointer;
    }
}


@media(max-width: 860px) {
	.welcome__popup-form {
		width:		540px;
		padding: 	45px 80px;
	}
}

@media(max-width: 580px) {
	.welcome__popup-form {
		width:		320px;
		padding: 	15px 40px;
	}

	.form {
		&__header {
			margin: 5px 0;
		}

		&__submit {
			margin: 25px;
		}
	}
}