@import "../node_modules/normalize-scss/sass/normalize/import-now";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "expert-in.scss";
@import "welcome.scss";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-me {
    max-width: 2000px;
    max-height: 400px;
    background-color: aqua;
    padding-bottom: 100px;


    &__heading {
            padding-top: 100px;
            font-size: 34px;
            font-family: "Lato";
            color: #3677fd;
            line-height: 0.702;
            text-align: center;
            font-weight: 300;
            margin: 0px 0px 70px 0px;           
    }
          
    &__text {
        font-size: 16px;
        font-family: "Lato";
        color: rgb(90, 90, 90);
        line-height: 2.188;
        text-align: center;
        font-weight: 400;
        width: 1040px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;        
    } 
}

 .footer {
     display: flex;
      justify-content: center;
      align-items: center;
      background-image: -moz-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
      background-image: -webkit-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
      background-image: -ms-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
      max-width: 2000px;
      height: 247px;
   
     &__text {        
        font-size: 30.324px;
        font-family: "Lato";
        color: white;
        line-height: 1.3;
        text-align: left;
        font-weight: 300;
     }

    
     &__button  {   
        line-height: 48px;
        width: 204px;
        height: 55px;
        border-radius: 27px;
        background-color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0px;
        color: #3695ff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        margin: 60px;
    }
 }

    .latest-works {
        height: auto;
        max-width: 1920px;
        .latest-works__body {
           padding: 100px 0 200px 0;
           .latest-works__title {
               font-family: 'Lato';
               font-size: 34px;
               color: #3677FD;
               font-weight: 300;
               text-align: center;
           }
           .latest-works__content {
               display: flex;
               flex-direction: column;
               .content__row {
                   display: flex;
                   justify-content: center;
                   .row__item-top, .row__item-bot{
                        background-color: #F4F4F4;
                        max-width: 360px;
                        width: 100%;
                        height: 270px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        margin: 100px 30px 50px 30px;
                    }
                   .row__item-bot{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 0;
                        margin-bottom: 0px;
                   }
               }
           }
        }
    }

@media (max-width: 1200px) { }
@media (max-width: 992px) { 
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        .latest-works{
            height: auto;
            max-width: 1920px;
            .latest-works__body {
               padding: 100px 0 200px 0;
               .latest-works__title {
                   font-family: 'Lato';
                   font-size: 34px;
                   color: #3677FD;
                   font-weight: 300;
                   text-align: center;
               }
               .latest-works__content {
                   display: flex;
                   flex-direction: column;
                   .content__row {
                       display: flex;
                       justify-content: center;
                       .row__item-top, .row__item-bot{
                        
                            background-color: #F4F4F4;
                            max-width: 180px;
                            width: 100%;
                            height: 135px;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            margin: 100px 15px 25px 15px;
                            .row__item_1, .row__item_3, .row__item_4, .row__item_6{
                                width: 142px;
                               }
                            .row__item_2, .row__item_5 {
                                width: 75px;
                            }         
                        }
                       .row__item-bot{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                            margin-bottom: 0px;
                       }
                   }
               }
            }
        }
    }
 }
@media (max-width: 768px) {  }
@media (max-width: 576px) { 
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        .latest-works{
            height: auto;
            max-width: 1920px;
            .latest-works__body {
               padding: 50px 0 100px 0;
               .latest-works__title {
                   font-family: 'Lato';
                   font-size: 34px;
                   color: #3677FD;
                   font-weight: 300;
                   text-align: center;
                   margin-bottom: 35px;
               }
               .latest-works__content {
                   display: flex;
                   
                   .content__row {
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       justify-content: center;
                       .row__item-top, .row__item-bot{
                        
                            background-color: #F4F4F4;
                            max-width: 180px;
                            width: 100%;
                            height: 135px;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            margin: 5px 5px 5px 5px;
                            .row__item_1, .row__item_3, .row__item_4, .row__item_6{
                                width: 142px;
                               }
                            .row__item_2, .row__item_5 {
                                width: 75px;
                            }         
                        }
                       .row__item-bot{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                            margin-bottom: 0px;
                            margin: 5px 5px 5px 5px;
                       }
                   }
               }
            }
        }
    }
}

.clients {
    background-color: #f1f8ff;
}

.clients-content {
    max-width: 1200px;
    margin: 0 auto;

    &__logo {
        display: flex;
        justify-content: space-around;
        padding-bottom: 100px;
    }

    &__title {
        color: #3677fd;
        font-family: Lato;
        font-size: 50px;
        font-weight: 300;
        line-height: 35.12px;
        text-align: center;
        padding-top: 55px;
        padding-bottom: 90px;
    }
}