@import "../node_modules/normalize-scss/sass/normalize/import-now";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "expert-in.scss";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}